body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  perspective: 500px;
}
.rotating-text {
  font-size: 100px;
  text-align: center;
}
.rotate {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}